Repository woocommerce/woocommerce-paypal-payments, pull requests merged in 2024-08, with the labels that each got.

#2478 AXO: Temporarily hide the Fastlane payment method (3491)
  modules/ppcp-axo/src/AxoModule.php
Labels: AXO

#2484 AXO: Refactor the debug script in order to remove unnecessary logger calls (3490)
  modules/ppcp-axo/resources/js/Helper/Debug.js
  modules/ppcp-axo/src/Assets/AxoManager.php
Labels: AXO

#2432 AXO: Add warning when shipping config is not compatible (3392)
  modules/ppcp-axo/extensions.php
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/AxoModule.php
  modules/ppcp-axo/src/Helper/ApmApplies.php
  modules/ppcp-axo/src/Helper/SettingsNoticeGenerator.php
Labels: AXO

#2461 AXO: Add a notice when incompatible plugins are active (3474)
  modules/ppcp-axo/extensions.php
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/Helper/SettingsNoticeGenerator.php
  modules/ppcp-wc-gateway/resources/css/common.scss
Labels: AXO

#2424 AXO: Add whitespace stripping on submission (3156)
  modules/ppcp-axo/resources/js/AxoManager.js
Labels: AXO

#2434 AXO: Ensure Fastlane scripts do not load when PayPal is disabled (3075)
  modules/ppcp-axo/src/AxoModule.php
Labels: AXO

#2506 Update static meta value for Fastlane feature detection (3492)
  modules/ppcp-axo/src/AxoModule.php
Labels: AXO

#2429 Can't pay from block pages when the shipping callback is enabled and no shipping methods defined (3385)
  modules/ppcp-blocks/resources/js/checkout-block.js
  modules/ppcp-blocks/src/PayPalPaymentMethod.php
  modules/ppcp-button/resources/js/modules/Renderer/Renderer.js
  modules/ppcp-button/src/Assets/SmartButton.php
Labels: bug

#2437 When there isn't any shipping option for the address the order is still created from classic cart
  modules/ppcp-button/resources/js/modules/OnApproveHandler/onApproveForContinue.js
  modules/ppcp-button/src/Helper/WooCommerceOrderCreator.php
Labels: bug

#2435 Patch the order with no shipping methods, instead of throwing an error
  modules/ppcp-blocks/src/Endpoint/UpdateShippingEndpoint.php
  modules/ppcp-button/resources/js/modules/Renderer/Renderer.js
Labels: bug

#2523 Update PaymentsStatusHandlingTrait.php
  modules/ppcp-wc-gateway/src/Processor/PaymentsStatusHandlingTrait.php
Labels: enhancement
