Repository woocommerce/woocommerce-paypal-payments, pull requests merged in 2024-09, with the labels that each got.

#2552 Extend the list of Fastlane incompatible plugins(3616)
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/Helper/SettingsNoticeGenerator.php
Labels: AXO

#2586 Hook into the "Things to do next" section to add custom tasks (3659)
  modules/ppcp-wc-gateway/services.php
  modules/ppcp-wc-gateway/src/Settings/WcTasks/Factory/SimpleRedirectTaskFactory.php
  modules/ppcp-wc-gateway/src/Settings/WcTasks/Factory/SimpleRedirectTaskFactoryInterface.php
  modules/ppcp-wc-gateway/src/Settings/WcTasks/Registrar/TaskRegistrar.php
  modules/ppcp-wc-gateway/src/Settings/WcTasks/Registrar/TaskRegistrarInterface.php
  modules/ppcp-wc-gateway/src/Settings/WcTasks/Tasks/SimpleRedirectTask.php
  modules/ppcp-wc-gateway/src/WCGatewayModule.php
  tests/PHPUnit/bootstrap.php
  tests/stubs/Task.php
Labels: enhancement, feature

#2588 Fastlane Component disappears in Gary flow (3674)
  modules/ppcp-axo/resources/js/AxoManager.js
Labels: AXO

#2605 AXO: Add support for Block Checkout
  modules.php
  modules/ppcp-axo-block/.babelrc
  modules/ppcp-axo-block/composer.json
  modules/ppcp-axo-block/extensions.php
  modules/ppcp-axo-block/module.php
  modules/ppcp-axo-block/package-lock.json
  modules/ppcp-axo-block/package.json
  modules/ppcp-axo-block/resources/css/gateway.scss
  modules/ppcp-axo-block/resources/js/components/Card/Card.js
  modules/ppcp-axo-block/resources/js/components/Card/CardChangeButton.js
  modules/ppcp-axo-block/resources/js/components/Card/CardChangeButtonManager.js
  modules/ppcp-axo-block/resources/js/components/Card/index.js
  modules/ppcp-axo-block/resources/js/components/Card/utils.js
  modules/ppcp-axo-block/resources/js/components/EmailButton/EmailButton.js
  modules/ppcp-axo-block/resources/js/components/EmailButton/index.js
  modules/ppcp-axo-block/resources/js/components/EmailButton/utils.js
  modules/ppcp-axo-block/resources/js/components/Payment/Payment.js
  modules/ppcp-axo-block/resources/js/components/Shipping/ShippingChangeButton.js
  modules/ppcp-axo-block/resources/js/components/Shipping/ShippingChangeButtonManager.js
  modules/ppcp-axo-block/resources/js/components/Shipping/index.js
  modules/ppcp-axo-block/resources/js/components/Shipping/utils.js
  modules/ppcp-axo-block/resources/js/components/Watermark/Watermark.js
  modules/ppcp-axo-block/resources/js/components/Watermark/WatermarkManager.js
  modules/ppcp-axo-block/resources/js/components/Watermark/index.js
  modules/ppcp-axo-block/resources/js/components/Watermark/utils.js
  modules/ppcp-axo-block/resources/js/events/emailLookupManager.js
  modules/ppcp-axo-block/resources/js/helpers/classnamesManager.js
  modules/ppcp-axo-block/resources/js/helpers/fieldHelpers.js
  modules/ppcp-axo-block/resources/js/hooks/useAddressEditing.js
  modules/ppcp-axo-block/resources/js/hooks/useAxoCleanup.js
  modules/ppcp-axo-block/resources/js/hooks/useAxoSetup.js
  modules/ppcp-axo-block/resources/js/hooks/useCardChange.js
  modules/ppcp-axo-block/resources/js/hooks/useCustomerData.js
  modules/ppcp-axo-block/resources/js/hooks/useFastlaneSdk.js
  modules/ppcp-axo-block/resources/js/hooks/useHandlePaymentSetup.js
  modules/ppcp-axo-block/resources/js/hooks/usePayPalScript.js
  modules/ppcp-axo-block/resources/js/hooks/usePaymentSetupEffect.js
  modules/ppcp-axo-block/resources/js/hooks/useShippingAddressChange.js
  modules/ppcp-axo-block/resources/js/hooks/useTokenizeCustomerData.js
  modules/ppcp-axo-block/resources/js/index.js
  modules/ppcp-axo-block/resources/js/stores/axoStore.js
  modules/ppcp-axo-block/services.php
  modules/ppcp-axo-block/src/AxoBlockModule.php
  modules/ppcp-axo-block/src/AxoBlockPaymentMethod.php
  modules/ppcp-axo-block/webpack.config.js
  modules/ppcp-axo-block/yarn.lock
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/AxoModule.php
  modules/ppcp-axo/src/Gateway/AxoGateway.php
  modules/ppcp-wc-gateway/src/Gateway/ProcessPaymentTrait.php
  package-lock.json
  package.json
Labels: AXO

#2597 Fix MasterCard in Fastlane component (3679)
  modules/ppcp-axo/resources/js/Views/CardView.js
Labels: AXO

#2606 Fastlane "Phone-Sync" for block checkout (3678)
  modules/ppcp-axo-block/resources/js/hooks/useAxoSetup.js
  modules/ppcp-axo-block/resources/js/hooks/usePhoneSyncHandler.js
  modules/ppcp-axo-block/resources/js/index.js
Labels: AXO

#2598 Fastlane use Advanced Card Processing gateway icon selector (3681)
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/Gateway/AxoGateway.php
  modules/ppcp-wc-gateway/services.php
  modules/ppcp-wc-gateway/src/Gateway/CreditCardGateway.php
  tests/PHPUnit/WcGateway/Gateway/CreditCardGatewayTest.php
Labels: AXO

#2617 AXO Blocks: Fix the step counter in block checkout in the initial Fastlane stage
  modules/ppcp-axo-block/resources/css/gateway.scss
Labels: AXO

#2621 Axo Blocks: Move the Fastlane watermark to the right (3697)
  modules/ppcp-axo-block/resources/css/gateway.scss
Labels: AXO

#2620 Fastlane: Remove Gateway Title, and move Cardholder Name to Advanced Card Processing (3680)
  modules/ppcp-axo-block/services.php
  modules/ppcp-axo-block/src/AxoBlockPaymentMethod.php
  modules/ppcp-axo/extensions.php
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/Gateway/AxoGateway.php
  modules/ppcp-wc-gateway/services.php
  modules/ppcp-wc-gateway/src/Gateway/CreditCardGateway.php
  modules/ppcp-wc-gateway/src/Helper/DCCGatewayConfiguration.php
  tests/PHPUnit/WcGateway/Gateway/CreditCardGatewayTest.php
Labels: AXO

#2566 Add title, description and gatewayId to the express payment method
  modules/ppcp-blocks/package.json
  modules/ppcp-blocks/resources/js/checkout-block.js
  modules/ppcp-googlepay/package.json
  modules/ppcp-googlepay/resources/js/boot-block.js
Labels: enhancement, woo-compatibility, blocks

#2633 Add backwards compatibility when address editing state toggling is not available (3725)
  modules/ppcp-axo-block/resources/js/helpers/fieldHelpers.js
  modules/ppcp-axo-block/resources/js/hooks/useAddressEditing.js
Labels: AXO

#2638 Axo Blocks: Localize strings
  modules/ppcp-axo-block/resources/js/components/Card/CardChangeButton.js
  modules/ppcp-axo-block/resources/js/components/EmailButton/EmailButton.js
  modules/ppcp-axo-block/resources/js/components/Payment/Payment.js
  modules/ppcp-axo-block/resources/js/components/Shipping/ShippingChangeButton.js
  modules/ppcp-axo-block/resources/js/index.js
  modules/ppcp-axo-block/src/AxoBlockPaymentMethod.php
Labels: AXO

#2624 Axo Blocks: Add support for Advanced Style Settings
  modules/ppcp-axo-block/resources/js/hooks/useDeleteEmptyKeys.js
  modules/ppcp-axo-block/resources/js/hooks/useFastlaneSdk.js
Labels: AXO

#2623 Axo Blocks: Check whether the Card Element container exists before trying to render it
  modules/ppcp-axo-block/resources/js/components/Payment/Payment.js
Labels: AXO

#2637 Axo Blocks: Reduce prop drilling and move shipping address, card details and phone number state to the Redux store
  modules/ppcp-axo-block/resources/js/components/Card/Card.js
  modules/ppcp-axo-block/resources/js/components/EmailButton/utils.js
  modules/ppcp-axo-block/resources/js/components/Payment/Payment.js
  modules/ppcp-axo-block/resources/js/events/emailLookupManager.js
  modules/ppcp-axo-block/resources/js/hooks/useAxoSetup.js
  modules/ppcp-axo-block/resources/js/hooks/useCardChange.js
  modules/ppcp-axo-block/resources/js/hooks/useHandlePaymentSetup.js
  modules/ppcp-axo-block/resources/js/hooks/usePhoneSyncHandler.js
  modules/ppcp-axo-block/resources/js/index.js
  modules/ppcp-axo-block/resources/js/stores/axoStore.js
Labels: AXO

#2642 Axo Blocks: Clean up the console logs (3713)
  modules/ppcp-axo-block/resources/js/components/EmailButton/utils.js
  modules/ppcp-axo-block/resources/js/components/Shipping/utils.js
  modules/ppcp-axo-block/resources/js/components/Watermark/Watermark.js
  modules/ppcp-axo-block/resources/js/components/Watermark/WatermarkManager.js
  modules/ppcp-axo-block/resources/js/components/Watermark/utils.js
  modules/ppcp-axo-block/resources/js/events/emailLookupManager.js
  modules/ppcp-axo-block/resources/js/helpers/classnamesManager.js
  modules/ppcp-axo-block/resources/js/helpers/fieldHelpers.js
  modules/ppcp-axo-block/resources/js/hooks/useAxoCleanup.js
  modules/ppcp-axo-block/resources/js/hooks/useAxoSetup.js
  modules/ppcp-axo-block/resources/js/hooks/useCardChange.js
  modules/ppcp-axo-block/resources/js/hooks/useFastlaneSdk.js
  modules/ppcp-axo-block/resources/js/hooks/usePayPalScript.js
  modules/ppcp-axo-block/resources/js/hooks/usePhoneSyncHandler.js
  modules/ppcp-axo/resources/js/Helper/Debug.js
Labels: AXO

#2646 Fastlane remove Privacy setting (3720)
  modules/ppcp-axo/extensions.php
  modules/ppcp-axo/src/Helper/PropertiesDictionary.php
  modules/ppcp-wc-gateway/src/Helper/DCCGatewayConfiguration.php
Labels: AXO

#2649 Consolidate Credit-Card and Fastlane settings (3680)
  modules/ppcp-axo/services.php
  modules/ppcp-axo/src/AxoModule.php
  modules/ppcp-axo/src/Gateway/AxoGateway.php
  modules/ppcp-card-fields/src/CardFieldsModule.php
  modules/ppcp-wc-gateway/services.php
  modules/ppcp-wc-gateway/src/Gateway/CreditCardGateway.php
  modules/ppcp-wc-gateway/src/Helper/DCCGatewayConfiguration.php
  modules/ppcp-wc-gateway/src/WCGatewayModule.php
  tests/PHPUnit/WcGateway/Gateway/CreditCardGatewayTest.php
Labels: AXO

#2648 Axo Block: Load ACDC for logged in users in the Block Checkout (3739)
  modules/ppcp-blocks/src/BlocksModule.php
Labels: AXO

#2647 Axo: Load classic and block integration modules by default (3738)
  modules.php
Labels: AXO

#2650 Fastlane spinner does not disappear once the watermark (3717)
  modules/ppcp-axo/resources/css/styles.scss
Labels: AXO

#2652 Fastlane Classic Checkout card icons (3716)
  modules/ppcp-axo/resources/css/styles.scss
  modules/ppcp-axo/resources/js/Views/CardView.js
Labels: AXO

#2653 Fastlane card preview UI for classic checkout
  modules/ppcp-axo/resources/css/styles.scss
  modules/ppcp-axo/resources/js/Views/CardView.js
Labels: AXO

#2657 Fastlane add link to setup guide to the Fastlane settings (3745)
  modules/ppcp-axo/extensions.php
Labels: AXO

#2660 Axo: Remove fixed container background color from the Ryan credit card component (3747)
  modules/ppcp-axo/resources/css/styles.scss
Labels: AXO
